# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml
.vscode/
*.swp

# Build
**/build/
**/.gradle/
**/out/
**/.cxx/
**/captures/
**/local.properties

# Android
*.apk
*.aab
*.keystore

# ESP32 / PlatformIO
.pio/
**/.pio/

# Python
__pycache__/
*.py[cod]

# Env secrets
.env
**/application-local.yml
**/secrets.properties
edge/include/secrets.h
